/* loginCSS.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url('../../assets/images/fundotcg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 95%;
  max-width: 600px; /* 👈 aumentei aqui */
  margin: 1rem;
  backdrop-filter: blur(2px);
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.35rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
}

.input-group input {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #f52121;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}

.button {
  background-color: #f52121;
  color: white;
  padding: 0.85rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0.5rem;
  text-align: center;
}

.button:hover {
  background-color: #f52121;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

.register-link {
  text-align: center;
  margin-top: 0.1rem;
  font-size: 0.95rem;
  color: #333;
}

.register-link a {
  color: #f52121;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .box {
    padding: 1.5rem;
    width: 85%;
  }

  .title {
    font-size: 1.5rem;
  }
}
